<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="DataSource" value="LAPTOP-BODD41L5\SQLEXPRESS"/>
	<add key="Database" value="Library"/>
	<add key="Name" value="LAPTOP-BODD41L5\hfakt"/>
	<add key="Password" value=""/>-->
	<add key="DataSource" value="localhost"/>
    <add key="Database" value="library"/>
    <add key="Name" value="root"/>
    <add key="Password" value="root"/>
  </appSettings>
</configuration>